<div id="main">
<h2>お問い合わせ</h2>
  <p>当サイトへのお問い合わせがある場合は、<b>yoronjp1@gmail.com</b>までメールをお送りください。
  お問合わせの内容を拝見し、管理者が回答が必要だと判断した場合には返信させていただきます。</p>
  <p>また、お問い合わせ以外にもご要望やご指摘などございましたら気軽にお寄せください。ご要望やご指摘は必ずしも反映されるものではありませんが、今後のサイト運営の参考にさせていただきます。</p>

</div>
